rules: {
    'prefer-promise-reject-errors': 'off',
    'semi'                        : [ 'error', 'always' ],
    'indent'                      : [ 'error', 'tab' ],
    'space-in-parens'             : [ 'error', 'always' ],
    'array-bracket-spacing'       : [ 'error', 'always', {
      'singleValue'    : true,
      'arraysInArrays' : true,
      'objectsInArrays': true
    }],
    'object-curly-spacing'        : [ 'error', 'always', {
      'objectsInObjects': true,
      'arraysInObjects' : true
    }],
    'no-trailing-spaces'          : [ 'error', {
      'skipBlankLines': false,
      'ignoreComments': false
    }],
    'space-before-function-paren' : [ 'error', {
      "anonymous" : 'never',
      "named"     : 'never',
      "asyncArrow": 'never'
    }],
    'keyword-spacing'             : [ 'error', { 'after': true, 'before': true } ],
    'key-spacing'                 : [ 'error', {
      "singleLine": {
          'beforeColon': false,
          'afterColon' : true
      },
      "multiLine": {
          'beforeColon': true,
          'afterColon' : true,
          'align'      : 'colon'
        }
    }]
}
